<h2>Looks Like You've Decided to Quit Our Challenge</h2>

<p>Listen, it isn't your fault. There is no one to blame here but yourself. Not everyone is cut out to brogram it up here. Tell you what champ, you keep learning how to brogram and come back and test our challenge again when you feel you've brogramed up enough.

<h2>BROGRAM!</h2>

<a href="https://www.amazon.jobs/">Here is a company that I think would be a good fit for someone of your skills</a>

<div style="margin: 10px;">
  <a href="/">Home</a>
</div>