<h2>This Is the Start of the Survey</h2>

<p>Can you solve the puzzle below? Take your time and think about what is being asked of you.</p>

<div>
  <% if @answer == "fail" %>
    <p><%= "This must be embarassing for you, but you clicked the button we told you not to click. Feel free to try again, but..." %></p>
  <% end %>
</div>

<div>
  <a href="/survey_form?answer=fail"><button type="submit" class="button" name="survey">Do not click, click button to the right</button></a>
  <a href="/survey_form?answer=fail"><button type="submit" class="button" name="survey">Do not click, click button to the left</button></a>
</div>

<div style="margin: 10px;">
  <a href="/quitter">I can't handle this. I'm out!</a>
</div>

<div style="position: absolute; bottom: 0px;">
  <a href="/hire_this_brogrammer" style="color:white">You solved the puzzle! Good for you!</a>
</div>